body {
    font-family: 'Dosis', sans-serif;
    background-color: #060606;
    color: white;
}

h1 {
    font-size: 45px;
    line-height: 45px;
}

a {
    color: grey;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    column-gap: 1em;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}

.filter-buttons {
    width: 40%;
    max-width: 150px;
    font-family: 'Dosis';
    background-color: #060606;
    color: white;
    padding: 5px;
    margin: 0px 15px 0px 0px;
    border: 1px solid white;
    outline-color: white;
}

@media (max-width: 400px) {
    .flex-grid {
        display: block;
    }
}

#filters {
    padding: 0px 0px 0px 15px;
}

header {
    position: sticky;
    top: 40px;
}

.filter-container {
    position: sticky;
    top: 160px;
}

#dropdown-artist,
#dropdown-gender {
    font-family: 'Dosis';
    background-color: #060606;
    color: white;
    padding: 5px;
    margin: 5px 0px;
    outline-color: white;
}

select {
    width: 95%;
    max-width: 315px;
}

.dropdown,
.sort-color {
    padding: 15px 0px 0px 0px;
    width: 90%;
}

option {
    font-size: 15px;
}

#scroll-indicator {
    position: fixed;
    bottom: 10px;
    font-family: 'Dosis';
    font-size: 20px;
    color: grey;
}

#chart-title {
    padding: 25px 45px;
}

.waffle {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 25px;
    height: 25px;
    margin: 0px;
}

img {
    max-width: 95%;
    border: 2px solid white;
}

.img {
    padding: 10px;
    position: sticky;
    top: 15px;
}

.subtitle {
    width: 80%;
    max-width: 300px;
}