/* 
COLORS
Brown: #9a3106
Light Brown: #ff743d
Blue: #2E86AB
Light Blue: #b5e5f9
Yellow: #EDAE49
Gray: #cccccc
Off-Black: #212121
*/

/* GENERAL HTML */

body {
    font-family: 'IBM Plex Serif', sans-serif;
    margin: 0px;
    display: grid;
}

h1 {
    font-family: 'IBM Plex Sans';
    font-size: 75px;
    font-weight: 700;
    line-height: 73px;
}

h2 {
    font-family: 'IBM Plex Sans';
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-family: 'IBM Plex Serif';
    font-size: 18px;
    font-weight: 700;
}

p {
    font-family: 'IBM Plex Serif';
    font-size: 14px;
}

img {
    width: 100%;
}

a {
    color: white;
}

.chart {
    display: grid;
    align-items: center;
    justify-content: center;
}


/* CLASSES */



.section-arrow {
    font-size: 40px;
    text-align: center;
    padding: 0px 15px 25px 15px;
    animation-name: arrow-point;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes arrow-point {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#scroll, #scroll2 {
    position: relative;
    background-color: #f3f3f3;
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

article {
    position: relative;
    padding: 45px;
    max-width: 100rem;
    margin: 0 auto;
}

.scroll__graphic {
    position: sticky;
    top: 15%;
}

.scroll__graphic .chart {
    position: sticky;
    top: 15%;
    position: sticky;
    margin: 0;
    transform: translate3d(0, 0, 0);
    background-color: #cccccc;
    z-index: 0;
}

#scroll {
    position: relative;
    background-color: #f3f3f3;
}

.scroll__text {
    text-align: center;
    padding: 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
}

.step {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 100% 0%;
}

.step:last-child {
    margin-bottom: 100%;
}

.step.is-active {
    background-color: #9a3106;
    color: white;
}

.step p {
    text-align: center;
    padding: 2rem;
    font-size: 10px;
}



/* INTRODUCTION */

#section1 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #9a3106;
    color: white;
    padding: 0px 0px 25px 0px;
    margin: 0px 0px 25px 0px;
}

#intro-image-credit {
    text-align: right;
    font-size: 10px;
    padding: 0px 10px 0px 0px;
    color: #ff743d;
}

#intro-image-credit>a {
    color: #ff743d;
}

#intro-title {
    padding: 0% 20% 0% 20%;
    text-align: center;
}

#intro-narrative {
    padding: 0% 20% 4% 20%;
    align-items: center;
    justify-content: center;
}

#intro-subtitle {
    text-align: center;
    line-height: 20px;
}

#intro-text {
    text-align: center;
}

#intro-arrow>a {
    color: #ff743d;
    text-decoration: none;
}

#intro-arrow>a:hover {
    color: white;
    cursor: pointer;
}






/* MEDIA BREAKPOINT */
@media only screen and (max-width: 750px) {

    h1 {
        font-family: 'IBM Plex Sans';
        font-size: 55px;
        font-weight: 700;
        line-height: 73px;
    }

}