/* 
COLORS
Brown: #9a3106
Light Brown: #ff743d
Blue: #2E86AB
Light Blue: #b5e5f9
Yellow: #EDAE49
Gray: #cccccc
Off-Black: #212121
*/

/* GENERAL HTML */

body {
    font-family: 'IBM Plex Serif', 'IBM Plex Sans', sans-serif;
    margin: 0%;
}

h1 {
    font-family: 'IBM Plex Sans';
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-family: 'IBM Plex Sans';
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-family: 'IBM Plex Serif';
    font-size: 18px;
    font-weight: 700;
}

p {
    font-family: 'IBM Plex Serif';
    font-size: 14px;
}

img {
    width: 100%;
}

a {
    color: inherit;
}

button {
    font-family: 'IBM Plex Sans';
    margin: 3%;
    font-size: 18px;
    border: none;
    color: rgb(197, 195, 195);
    outline: none;
    background-color: transparent;
}

button:hover {
    color: #212121;
    cursor: pointer;
}

button:disabled {
    color: transparent;
    cursor: default;
}

hr {
    height:4px;
    border-width:0;
    background-color:lightgray;
    margin: 10% 0%;
}

/* INTRODUCTION */

#title-wrapper {
    background-color: #9a3106;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    height: 95vh;
}

#intro-image-credit {
    font-size: 10px;
    color: #ff743d;
}

#intro-narrative {
    font-family: 'IBM Plex Sans';
    color: #ffad8c;
    background-color: #9a3106;
    padding: 0% 30%;
}

#intro-title {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: white;
    padding: 10% 0% 5% 0%;
}

#intro-subtitle {
    font-family: 'IBM Plex Serif';
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    color: white;
    padding: 5% 0% 5% 0%;
}

#intro-text {
    font-size: 16px;
    color: #ff743d;
    padding: 3% 0% 10% 0%;
}


/* SECTIONS */

#content-wrapper {
    margin: 10% 10%;
}

.section-title {
    margin: 0%;
    padding: 5%;
    position: sticky;
    top: 0%;
    background-color: white;
    border-bottom: 2px solid lightgrey;
    font-family: 'IBM Plex Sans';
    font-size: 25px;
    font-weight: 700;
}

#part1-title {
    border-bottom: 2px solid #ff743d;
}

#part2-title {
    border-bottom: 2px solid #b5e5f9;
}

#part3-title {
    border-bottom: 2px solid rgb(255, 217, 155);
}

.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
}

.narrative {
    padding: 5%;
    margin: 50% 0% 120% 0%;
}

.part1 {
    background-color:#9a3106;
    color: white;
}

.part2 {
    background-color: #2E86AB;
    color: white;
}

.part3 {
    background-color: #EDAE49;
    color: white;
}

.visual {
    margin: 5%;
    position: sticky;
    top: 10%;
}

.visual-title {
    text-align: center;
    margin: 0;
}




/* MEDIA BREAKPOINTS */
@media only screen and (max-width: 900px) {

    #title-wrapper {
        margin: 0px;
    }

    #intro-narrative {
        font-family: 'IBM Plex Sans';
        color: #ffad8c;
        background-color: #9a3106;
        padding: 0% 30%;
    }

    #intro-text {
        font-size: 16px;
        color: #ff743d;
        padding: 3% 0% 0% 0%;
    }

    #content-wrapper {
        margin: 0;
    }
}


